html, body {
	background: rgb(20,20,20);
	text-align: center;
	height: 2000px;
	margin: 0;
}
.svg-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 70px;  
}
.shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: #fff;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
	font-family: 'Roboto Condensed';
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 8px;
	color: #fff;
	top: -48px;
	position: relative;
	color: inherit;
	color: white;
}
.svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
}
a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}

#side-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 100vh;
	background-color: #fff;
	transform: translateX(-100%);
	transition: 0.6s
}
#side-nav.open {
	transform: translateX(0);
	
}
.nav-items {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
.nav-item {
	padding: 10px 0;
}
.nav-button {

}